@media (min-width: 1000px) {
  .hero-unit-moon-exploration {
    display: flex;
    justify-content: center;
    width: auto;
    width: 100vw;
    height: 800px;
  }
  .hero-space-cont {
    background-image: url(/images/final-frontier_large.jpg);
  }
  .hero-luna-cont {
    background-image: url(/images/luna_large.jpg);
  }
}
@media (max-width: 999px) {
  .hero-unit-moon-exploration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: 1200px;
  }
  .hero-space-cont {
    background-image: url(/images/final-frontier_medium.jpg);
  }
  .hero-luna-cont {
    background-image: url(/images/luna_medium.jpg);
  }
}


.hero-space-cont {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-luna-cont {
  height: 100%;
  width: 100%;
	background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image-space {
  max-width:100%;
  max-height:100%;
  object-fit: contain;
  object-position: center center;
}

.hero-copy-space {
  text-align: center;
}
.hero-copy-luna {
  text-align: center;
}

.hero-copy-space a {
  color: inherit; 
  text-decoration: inherit;
}


@media (min-width: 1200px) {
  .timeline-cont-cont{
    height: 2800px;
  }
  .timeline-cont {
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    max-height: 100%;
    width: 2400px;
    overflow: auto;
    align-content: flex-start;

  }
  .timeline-item {
    width: 540px;
    margin: 15px 15px 15px 15px;
    padding: 5%; 
  }
  .timeline-1 { order: 1; }
  .timeline-2 { order: 4; }
  .timeline-3 { order: 2; }
  .timeline-4 { order: 5; }
  .timeline-5 { order: 3; }
  .timeline-6 { order: 6; } 
}

@media (max-width: 1199px) {
  .timeline-item {
    width: 540px;
  }
  .timeline-cont-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .timeline-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 600px) {
  .timeline-item {
    width: 440px;
  }
}
@media (max-width: 500px) {
  .timeline-item {
    width: 340px;
  }
}

@supports not (display: grid) {
  @media only screen and (min-width:736px) {
    .gallery-gridz {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      white-space: pre-wrap;
      min-width: 0px;
    }
    .gallery-photoz {
      height: 33vw;
      max-height: 789px;
    }
    .gallery-photoz figure {
      background-position: 50%;
      background-size: cover;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%
    }
    .flex-break {
      flex: 1 0 100% !important;
      height: 0px;
    }
    .gallery-gridz  .flex-break {
      height: 0 !important
    }
    .grid-two-thirdz {
      flex-grow: 3; 
    }
    .grid-thirdz {
      flex-grow: 1; 
    }
    .grid-two-halfz {
      flex-grow: 1; 
    }
    .grid-halfz {
      flex-grow: 1; 
    }
  }

  @media only screen and (max-width:736px) {
    .flex-break {
      display: none;
    }
    .gallery-gridz {
      display: flex;
      flex-direction: column;
    }
    .gallery-photoz {
      height: 340px;
      max-height: 789px;
    }
    .gallery-photoz figure {
      background-position: 50%;
      background-size: cover;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%
    }
    .gallery-photoz.small-hide {
      display: none
    }
  }
}

@supports (display: grid) {

  .gallery-gridz {
    display: grid;
    grid-template-columns: repeat(12, 1fr)
  }
  
  @media only screen and (max-width:736px) {
    .gallery-gridz {
      grid-template-columns: 1fr
    }
  }
  
  .gallery-photoz {
    position: relative;
    height: 33vw;
    max-height: 789px;
    overflow: hidden
  }
  
  @media only screen and (max-width:736px) {
    .gallery-photoz {
      height: 342px;
      width: 100%
    }
    .gallery-photoz.small-hide {
      display: none
    }
  }
  
  .gallery-photoz figure {
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%
  }
  
  @media only screen and (min-width:737px) {
    .grid-thirdz.grid-leftz {
      grid-column: 1/5
    }
    .grid-thirdz.grid-rightz {
      grid-column: 9/13
    }
    .grid-two-thirdz.grid-leftz {
      grid-column: 1/9
    }
    .grid-two-thirdz.grid-rightz {
      grid-column: 5/13
    }
    .grid-halfz.grid-leftz {
      grid-column: 1/7
    }
    .grid-halfz.grid-rightz {
      grid-column: 7/13
    }
  }
}